.DraftEditor-root{
  border: 1px solid lightslategrey;
  border-radius: 0.5vh;
  width: 100%;
  min-width: 100%;
  background: green;
}

.DraftEditor-editorContainer{
  border: 0.1vh solid lightgrey;
  background: ghostwhite;
  padding: 3vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

.public-DraftEditor-content{
  height: 100%;
  min-height: 60em;
}

.leftTextEditorBar{
  width: 33%;
  min-width: 20em;
  background: red;
}

.headerNavBar{
  min-width: 100%;
  width: 100%;
}

.stretchWidth{
  min-width: 100%;
  width: 100%;
  padding: 0px;
}


.userAvatar{
  min-width: 5vh;
  width: 25%;
  max-width: 10vh;

  border-radius: 10%;
}